:root {
  --background-color: #fff;
  --text-color: #000;
}

[data-theme="dark"] {
  --background-color: #3F3F3F;
  --text-color: #fff;
}

/*
body {
  background-color: var(--background-color);
  color: var(--text-color);
}*/


.container {
  border: 3px solid var(--text-color);
  background-color: var(--background-color);

  color: var(--text-color);
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  min-height: 50%;
  min-width: 50%;
  }
